<form action="/new_search" method="post">
  <button type="submit" autofocus>Create New Search</button>
</form>

<table>
  <caption>Job Openings</caption>
  <tr>
    <th>Category</th>
    <th>Information</th>
  </tr>
  <% session["list"].each do |ad| %>
    <tr>
      <td>Title</td>
      <td><%= ad[0] %></td>
    </tr>
    <tr>
      <td>Company</td>
      <td><%= ad[1] %></td>
    </tr>
    <tr>
      <td>Link</td>
      <td><%= ad[2] %></td>
    </tr>
    <tr>
      <td>Posted on</td>
      <td><%= ad[3] %></td>
    </tr>
    <tr>
      <td>Job ID</td>
      <td><%= ad[4] %></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><%= ad[6] %></td>
    </tr>
    <% end %>
  </table>
